# ignore node modules
node_modules

# ignore test tracking data files
database

# ignore .vscode config
.vscode

# ignore .json folder
.json

# ignore spelling check config
cSpell.json

# ignore jsconfig.json
jsconfig.json

# ignore TODO.md
TODO.md

# ignore front-end library installer
assets/INSTALL_LIB