# ignore node modules
node_modules

# ignore test tracking data files
database

# ignore .vscode config
.vscode

# ignore .json folder
.json

# ignore spelling check config
cSpell.json

# ignore jsconfig.json
jsconfig.json

# ignore TODO.md
TODO.md

# ignore front-end library installer and test server
assets/INSTALL_LIB
assets/TEST_SERVER

# ignore private report result to test
assets/test/PrivateReportResult.json

# ignore front-end dist files
assets/dist