# ignore tgz tar
*.tgz
*.tar

# ignore utilities binary output files
utilities/*.out

# c++ clang:
.usages_clang

# ignore frontend source map files
frontend/dist/**/*.map

test/temp
test/resources/data-simple
test/playground
test/log

# ignore test tracking data files
database

# ignore .vscode config
.vscode

# ignore spelling check config
cSpell.json

# ignore log file included npm log
*.log
