mixin range(range, text)
	a.dropdown-item(href="javascript:;" data-range=range)= text

mixin reportRangeDropdownMenu
	.dropdown-menu
		h6.dropdown-header Report Date Range
		+range("1", "Recent 7 Days")
		+range("2", "Recent 14 Days")
		+range("3", "Recent 30 Days")
		+range("4", "Recent 365 Days")
		.dropdown-divider
		+range("11", "This Week")
		+range("12", "Last Week")
		+range("13", "This Month")
		+range("14", "Last Month")
		.dropdown-divider
		+range("20", "Custom Date Range")
