<div style="background: #e0e0e0">
	<div class="container" style="padding-top: 30px; padding-bottom: 50px">
		<div class="row">
			<div class="col-md-4">
				<h2 data-i18n="title_author">Author</h2>
				<p>LiuYue(hangxingliu)</p>
				<p>
					<a href="https://github.com/hangxingliu" target="_blank">Github</a>
				</p>

				<h2 data-i18n="title_version">Version</h2>
				<dl id="version" style="margin-left: 2em">
					<dt data-i18n="title_server_version" >Server Version:</dt>
					<dd name="serverVersion"></dd>
					<dt data-i18n="title_storage_version" >Storage Version:</dt>
					<dd name="storageVersion"></dd>
				</dl>
			</div>
			<div class="col-md-4">
				<h2 data-i18n="title_license">License</h2>
				<a href="https://github.com/hangxingliu/vscode-coding-tracker-server/blob/master/LICENSE" target="_blank">GPL-3.0</a>

				<h2 data-i18n="title_components">Components</h2>
				<a href="https://ecomfe.github.io/echarts-doc/public/en/index.html" target="_blank">echarts3</a><br>
				<a href="https://jquery.com/" target="_blank">jquery</a><br>
				<a href="https://getbootstrap.com/" target="_blank">bootstrap</a><br>
			</div>
			<div class="col-md-4">
				<h2 data-i18n="title_connect">Connect</h2>
				<p>
					<%- include("badge_npm") %>
				</p>
				<p>
					<%- include("badge_github_star") %>
				</p>
				<%- include("bottom_links.pug") %>
			</div>
		</div>
	</div>
</div>