mixin chartBlock(id)
	div(id=id style="height: 250px")

mixin totallyIndicator(id)
	p.pull-right(id=id)
		span(data-i18n="title_totally_1") Totally: watching for 
		b(name="watching") ----
		| &nbsp;
		span(data-i18n="title_totally_2") hs. coding for 
		b(name="coding") ----
		| &nbsp;
		span(data-i18n="title_totally_3") hs

mixin share(onclick)
	a.pull-right.text-success.ml-20px(onclick=onclick href="#"): b
		span.glyphicon.glyphicon-share.mr-3px
		span(data-i18n="title_share") Share

mixin fullReport(onclick)
	a.pull-right(href="#" style="text-decoration: none" onclick=onclick)
		span.glyphicon.glyphicon-plus
		span &nbsp;&nbsp;
		span(data-i18n="full_report") Full report

//====mixin==========
//===========HTML====

.row
	.col-md-12
		.panel.panel-success
			.panel-heading
				b(data-i18n="title_summary") Coding activities summary
				+share("app.shareSummary()")
				+totallyIndicator("counterSummary")
			.panel-body
				+chartBlock("chartSummary")
				
.row
	.col-md-12
		.panel.panel-info
			.panel-heading
				b(data-i18n="title_24hs") Last 24 hours summary 
				+totallyIndicator("counterLast24Hs")
			.panel-body
				+chartBlock("chartLast24Hs")

.row
	.col-md-8
		.panel.panel-default
			.panel-heading
				b(data-i18n="title_projects") Group by projects 
				small.text-muted(data-i18n="title_projects_tip") (click item in chart for details)
				+fullReport("app.showAllProjects()")
			.panel-body
				+chartBlock("chartProject")
	.col-md-4
		.panel.panel-default
			.panel-heading 
				b(data-i18n="title_languages") Languages 
				+fullReport("app.showAllLangs()")
			.panel-body
				+chartBlock("chartLanguage")

.row
	.col-md-8
		.panel.panel-default
			.panel-heading: b(data-i18n="title_files") Group by files 
			.panel-body
				+chartBlock("chartFile")
	.col-md-4
		.panel.panel-default
			.panel-heading: b(data-i18n="title_computers") Computers 
			.panel-body
				+chartBlock("chartComputer")
