#dlgAllProjects.modal.fade
	.modal-dialog
		.modal-content
			.modal-header
				button.close(type="button" data-dismiss="modal" aria-label="Close")
					span(aria-hidden="true") &times;
				h4.modal-title(data-i18n="title_projects") Group by projects
			.modal-body
				.container-fluid: .row: .col-xs-12
					#chartAllProjects(style="height: 500px")
