#rangeDescription {
	min-height: 2em;
	padding-top: .5em;
}
#rangeCalendar {
	// margin-top: 1rem;
	.datepicker-inline {
		width: auto;
		.table-condensed {width: 100%}
	}

	td.selected {
		color: lighten($secondary-text-color, 20%);
		background-color: lighten($accent-color, 45%);
		border-radius: 0; 
	}
	td.active {
		$radius: 4px;

		background-color: $accent-color;
		border-radius: 0;
		&.start {border-top-left-radius: $radius; border-bottom-left-radius: $radius;}
		&.end {border-top-right-radius: $radius; border-bottom-right-radius: $radius;}
	}
}
