@import '_color.scss';
@import '_sidebar.scss';

#bottomContainer h2 { margin-bottom: 5px; }
#version {
	dt {display: inline-block; min-width: 150px;}
	dd {display: inline-block; }
}

.link-share {
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}
.link-full-report {
	position: absolute;
	right: 25px;
	bottom: 15px;
}

.layout-navbar {
	position: -webkit-sticky;
    position: sticky;
    top: 0;
	z-index: 1071;
	min-height: 3rem;
	
	@media (max-width: 768px) {
		padding: .5rem 0 0 0;
	}

	.navbar-nav-scroll {
		width: auto;
		
		@media (max-width: 768px) {
			background-color: $primary-color;

			padding: .5rem 1rem;
			width: 100%;
			margin-top: .25rem;
			// will hiden drop down
			// overflow: hidden;
			font-size: .875rem;
		}
	}

	.dropdown-item.active {
		background-color: $primary-color !important;
		color: $primary-color-text !important;
	}
}

#toggleSidebarNav {
	color: $primary-color-text;
	font-size: 1.5rem;
	cursor: pointer;
}
