mixin chartBlock(id)
	div(data-chart=id style="height: 250px")

//====mixin==========
//===========HTML====

div.page-projects-index(style="display: none")
	.row
		.col-12
			.card.my-2
				.card-body
					h4.card-title(data-i18n="title_projects") Projects
					h6.card-subtitle.text-muted.mb-2.mt-1(data-i18n="title_projects_tip") 
						| (click item in chart for details)
					.card-text
						+chartBlock("projects")
