<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<title><%= title.index %></title>
	<%- include("modules/include_css") %>
</head>

<body>
	<%- include("modules/top_navbar") %>
	<div class="container" style="padding-top: 60px;padding-bottom: 20px">
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-success">
					<div class="panel-heading">
						Coding activities summary 
						<p class="pull-right" id="counterSummary"></p>
					</div>
					<div class="panel-body">
						<div id="chartSummary" style="height: 250px"></div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-info">
					<div class="panel-heading">
						Last 24 hours summary 
						<p class="pull-right" id="counterLast24Hs"></p>
					</div>
					<div class="panel-body">
						<div id="chartLast24Hs" style="height: 250px"></div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-8">
				<div class="panel panel-default">
					<div class="panel-heading">Group by projects </div>
					<div class="panel-body">
						<div id="chartProject" style="height: 250px"></div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading">Computers </div>
					<div class="panel-body">
						<div id="chartComputer" style="height: 250px"></div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-8">
				<div class="panel panel-default">
					<div class="panel-heading">Group by files </div>
					<div class="panel-body">
						<div id="chartFile" style="height: 250px"></div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading">Languages </div>
					<div class="panel-body">
						<div id="chartLanguage" style="height: 250px"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<%- include("modules/bottom_info") %>


	<%- include("modules/load_status") %>

	<%- include("modules/include_js") %>

	<script src="js/index.js"></script>

	<script async defer src="https://buttons.github.io/buttons.js"></script>
</body>

</html>