<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<title><%= title.index %></title>
	<%- include("modules/include_css") %>
</head>

<body>
	<%- include("modules/top_navbar.pug") %>
	
	<div class="container" style="padding-top: 60px;padding-bottom: 20px">

		<%- include("modules/chart_panels.pug") %>

	</div>

	<%- include("modules/bottom_info") %>


	<%- include("modules/dialog_status.pug") %>
	<%- include("modules/dialog_chart_all_projects.pug") %>
	<%- include("modules/dialog_chart_all_languages.pug") %>
	<%- include("modules/dialog_chart_one_project.pug") %>

	<%- include("modules/include_js") %>

	<script src="js/index.js"></script>

	<script async defer src="https://buttons.github.io/buttons.js"></script>
</body>

</html>